textarea{
	padding: 0 auto;
	background-color: black;
	color: white;
	font-size: 1.5em;
}
button{
	background-color: red;
	color: black;
	font-size: 1em;
}

#asd{
	font-size: 2em;
	color: purple;
}
.sad{
	font-size: 2em;
	color: purple;
}


#demo{
	color: green;
}
#demo3{
	font-size: 1.5em;
}
#demo4{
	font-size: 1.5em;
}
#demo5{
	font-size: 1.5em;
}